/* style for sub-heading */

.content{
  margin-left: 2em;
  margin-right:1em;
  margin-bottom:2em;
}
.title-items{
display: grid;
grid-template-columns:0.5fr,0.5fr,0.5fr,0.5fr,5fr,1fr;
margin-top:2em;
margin-bottom: 2em;
align-items: baseline;
}
.change-text-font{
  font-size: 1em;
  }

.grid-end{
  grid-column: 6/7;
  justify-self: flex-end;
  align-self: flex-end;

}
.btn-combine{
  background-color: black;
  color: white;
  border-radius: 5%;
  padding:0.5em;
}

/* style for content */
.file-in-section{
  display: grid;
  grid-gap: 3em;
}

.drop-down-info{
  grid-column: 2/5;
  border:solid;
  border-width: 0.02em;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}
.icon-file{
  width:6em;
}
.icon-small{
  width: 1.5em;
}
.hide-icon{
  display:none;
}

.check-box{
  width:3em;
  align-self: center;
}


.one-note{
  display: grid;
  grid-template-columns: 2em 4em auto 5em 2em;
  margin: 5em 2em;

}
.check-box{
  grid-column: 1/2;
}
.tag-section{
  grid-column: 2/6;
}
.tag-in-grid{
  display: grid;
  grid-template-columns: repeat(3,8em);
  margin-top:0.5em;
}

.edit-tag {
  border: 1px solid black;
  margin: 0.25em;
  border-radius: 0.25em;
  display: inline-block;
  padding: 0.25em;
 
}
.edit-tag::before {
  margin-right:0.4em; 
  content: " x";
  font-weight: 1000;
  color:darkred;
  background-color:rgb(70,130,180);
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 3em;
}
.edit-tag:hover {
  background-color: grey;
}

/* style for edit box */
.edit-box{
  position:fixed;
  z-index: 100;
  top:40%;
  bottom: 30%;
  left: 20%;
  right: 20%;
  padding: 1em;
  background-color:rgba(21, 56, 102, 0.9);
  max-width: 30em;
  border-radius: 0.8em;
}
 .edit-infor{
  display:grid;
  grid-template-rows:2em auto 3em;
  grid-template-columns: auto 4em;
  grid-column-gap: 0.5em;

  
} 
.btn-close-edit{
 grid-column: 2/3;
 grid-row:1/2;
 justify-items: end;
 justify-self: end;
}
.grid-start{
  grid-column: 1/3;
  grid-row:3/4;
  color: aliceblue;
  font-weight: 300;
 
}
.save{
  grid-column: 1/3;
  grid-row:4/5;
  justify-items: end;
  justify-self: end;
  padding: 1em;
}
.save-btn{
 background-color: antiquewhite;
 padding:0.5em 0.9em 0.5em 0.9em;
 border-radius: 0.2em;
}


  /* responsive css */

  @media screen and (min-width:1200px) {

    .file-info{
      font-size: 1.8em;
    }
    .change-text-font{
      font-size: 1.6em;
      }

    .one-note{
      grid-column-gap:7em;
      margin-left: 10em;
      margin-right:10em;
      
    } 
    .icon-file{
      max-width:20em;
    }
    .tag-section{
      font-size: 1.5em;
    }
    .tag-in-grid {
      grid-template-columns: repeat(5,8em)
    }

    .icon-small{
      width:2.25em;
    }
    .btn-combine{
      padding-left:1em;
      padding-right:1em;
      font-size: 1.5em;
    }
    .grid-start{
      font-size:1.6em;
    }
    .save-btn{
      font-size: 1.3em;
    }
    .edit-box{
      top:30%;
      left:30%;
      margin:auto;
    }
    .edit-infor{
    grid-row-gap: 3em;
   } 

  }

    

