/* style for sub-heading */

.content{
  margin-left: 2em;
  margin-right:1em;
  margin-bottom:2em;
}
.title-items{
display: grid;
grid-template-columns:0.5fr,0.5fr,0.5fr,0.5fr,5fr,1fr;
margin-top:2em;
margin-bottom: 2em;
align-items: baseline;
}
.change-text-font{
  font-size: 1em;
  }

.grid-end{
  grid-column: 6/7;
  justify-self: flex-end;
  align-self: flex-end;

}
.btn-combine{
  background-color: black;
  color: white;
  border-radius: 5%;
  padding:0.5em;
}

/* style for content */
.file-in-section{
  display: grid;
  grid-gap: 3em;
}

.drop-down-info{
  grid-column: 2/5;
  border:solid;
  border-width: 0.02em;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}
.icon-file{
  width:6em;
}
.icon-small{
  width: 1.5em;
}
.hide-icon{
  display:none;
}

.check-box{
  width:2em;
}


.one-note{
  display: grid;
  grid-template-columns: 2em 4em auto 2em 2em;
  margin: 5em 0;

}
.check-box{
  grid-column: 1/2;
}


  /* responsive css */
  @media screen and (min-width:730px) {
    .change-text-font{
      font-size: 1.5em;
      }
      
  }

    

