
/* general selectors */

body {
  font: 1em 'Source Sans Pro', sans-serif;
}

button {
  border: none;
  background: transparent;
  text-align: left;
}

a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

main, nav{
  padding: 1em 1.6em;
}

footer {
  margin-top: 3em;
  font-size: 0.8em;
  text-align: center;
}


/* general classes */

.icon {
  display: inline-block;
  width: 2em;
  height: 2em;
}

/* topics */
.my-topics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 4em;
}

.topic-icon {
  position: relative;
  width: 10em;
  height: 10em;
}

.image-link {
  width: 100%;
  height: 100%;
}

.tag-color {
  position: absolute;
  bottom: 1em;
  left: 1em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.fav-btn {
  position: absolute;
  right: 0;
  top: 0.5em;
}

/* colors */

.bg-red {
  background: red;
}

.bg-blue {
  background:blue;
}

.bg-green {
  background: green;
}

/* navigation topbar*/

nav {
  display: grid;
  grid-template-columns: 2em 2em auto 2em 2em;
  grid-gap: 2em;
  align-items: center;
  justify-items: center;
  background: black;
}

.view-profile-btn {
  vertical-align: middle;
}

.search-form {
  display: contents;
}

.searcharea {
  /*display: none; */
  grid-column: 1 / 5;
  width: 100%;
}

input[type="search"] {
  outline: none;
  width: 100%;
  height: 2em;
  background-color: rgb(255, 255, 255);
}

/* #search-btn-query {
  display: none;
} */

/* headings */

h1 {
  font-size: 2em;
  color: white; 
}

h2 {
  margin: 1.4em 0;
  border-bottom: 0.04em solid lightgrey;
  padding-bottom: 0.4em;
  font-size: 1.8em;
  font-weight: bold;
}

h3 {
  margin-top: 0.4em;
  font-size: 1.6em;
}

/* my collection section */

.collection {
  margin-bottom: 5em;
}

.title-tab {
  margin-bottom: 2.6em;
  padding: 0.8em;
  background: lightgray;
}

.expand-btn {
  position: relative;
  width: 100%;
  height: 2em;
}

.tab-title {
  display: inline-block;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.expand-icon {
  position: absolute;
  top: 0;
  right: 0;
}

/* my topics section  */
.my-topics-section {
  margin-bottom: 5em;
}

/*Damian stuff*/

/* filter tags */
.tag-boxs {
  width: fit-content;
	background-color: rgb(209, 135, 23);
	border: 5px solid;
	border-image: rgba(0, 0, 0, 0.5);
	color: white;
  text-align: center;
  border-radius: 1em;
  display: inline-block;
  padding: 0.5em;
}

.inline-block {
  display: inline-block;
}

.key-word-section {
  margin-bottom: 2em;
}


/* media queries */

@media screen and (min-width: 754px) {
  .my-topics {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media screen and (min-width: 974px) {
  .my-topics {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

 .expand-icon {
   display: none;
 } }